<!DOCTYPE html>
<html lang="en-gb">
    <head>
        <title>{{ common.404_title }}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/styles.css"/>
		<link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico" />
    	<link rel="shorcut icon" href="favicon.ico" />
		<!--[if ie 6]>
		<link rel="stylesheet" href="../css/ie/ie6.css"/>
		<![endif]-->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    </head>
    <body>	
		<div id="shell">
			<div class="border-left"></div>
			<div class="border-right"></div>
			<div id="content">
				<header>
					<hgroup>
						<h1><a href="../">{{ common.h1 }}</a></h1>
						<h2 id="youtube-link"><a href="{{ common.movie_youtube_url }}" target="_blank" rel="external">{{ common.movie_cta }}</a></h2>
					</hgroup>
				</header>
				<article class="error">
					<h2>{{ common.404_title }}</h2>
					<p>{{ common.404_message|safe }}</p>
				</article>
			</div>
			{% include "includes/footer.html" %}
			{% include "includes/navigation.html" %}		
		</div>
		<script type="text/javascript">
		//<![CDATA[
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', '{{ config.ga_account }}']);
			_gaq.push(['_trackPageview']);

			(function() {
			  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

	
			
		//]]>
		</script>
    </body>
</html>