<!DOCTYPE html>
<html lang="en-gb">
    <head>
        <title>{{ common.404_title }} - {{ common.pagetitle }}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/styles.css"/>
		<link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico" />
    	<link rel="shorcut icon" href="favicon.ico" />
		<!--[if ie 6]>
		<link rel="stylesheet" href="../css/ie/ie6.css"/>
		<![endif]-->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    </head>
    <body>	
		<div id="shell">
			<div class="border-left"></div>
			<div class="border-right"></div>
			<div id="content">
				<header>
					<h1 class="error-hdr">{{ common.404_title }}</h1>
				</header>
				<article class="error">
						<p><b>{{ common.404_title }}</b></p>
						<p>{{ common.404_message|safe }}</p>
				</article>
			</div>
			{% include "includes/footer.html" %}			
			{% include "includes/navigation.html" %}		
		</div>
    </body>
</html>