<!DOCTYPE html>	
<html lang="en-gb" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <title>{% if alpha %}{% for article in content %}{% if article.id in alpha %}{{ article.title }} - {% endif %}{% endfor %}{% endif %}{{ common.pagetitle|safe }}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width; initial-scale=1;"/>
		<link rel="stylesheet" href="../css/styles.css"/>
		{% include "includes/og.meta.html" %}			
		<link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico" />
    	<link rel="icon" href="favicon.ico" />
		<!--[if ie 6]>
		<link rel="stylesheet" href="../css/ie/ie6.css"/>
		<![endif]-->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    </head>
    <body>	
		<div id="shell">
			<div class="border-left"></div>
			<div class="border-right"></div>	
			<div id="content">				
				{% include "includes/header.html" %}	
				{% for article in content %}
					{% if alpha %}{% if article.id in alpha %}{% include "includes/article.html" %}{% endif %}{% else %}{% include "includes/article.html" %}{% endif %}
				{% endfor %}
								
			</div>			
			{% include "includes/navigation.html" %}
        	{% include "includes/footer.html" %}   	
		</div>	
		<div id="movie" data-movie-uri="{{ common.movie_swf_uri }}">
			<span id="close"></span>
			<div id="unsupported">
				<p>
					{{ common.movie_unsupported|safe }}
				</p>
				<p>
					{{ common.movie_alt_text|safe }}
				</p>
			</div>
			<div id="movie-container">							
			</div>	
		</div>	
		<div id="mask"></div>
		<div id="fb-root">	
		</div>
		<script type="text/javascript" src="../js/scripts.js"></script>
		<script type="text/javascript">
		//<![CDATA[
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', '{{ config.ga_account }}']);
			_gaq.push(['_trackPageview']);

			(function() {
			  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
			
			if(Browser.ie) {
				window.addEvent("domready", function() {
					RIA.Campaign = new RIA.AZCampaign({
						alpha:"{{ alpha }}"
					});
				});
			} else {
				RIA.Campaign = new RIA.AZCampaign({
					alpha:"{{ alpha }}"
				});
			}			

			(function() {
				var e = document.createElement('script');
				e.type = 'text/javascript';
				e.src = document.location.protocol+'//connect.facebook.net/en_US/all.js#xfbml=1';
				e.async = true;
				document.getElementById('fb-root').appendChild(e);
			}());
			{% comment %} Include Facebook SDK, for tracking and XFBML Like Button dynamic creation {% endcomment %}
			window.fbAsyncInit = function() {
				FB.init({
					appId:'{{ config.facebook_app_id }}',
					status: true,
					cookie: true,
					xfbml: true			
				});	

				RIA.Campaign.initFacebook();					
			};	
	
			
		//]]>
		</script>
    </body>
</html>