<!DOCTYPE html>	
<html lang="en-gb" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{{ common.pagetitle }}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/styles.css"/>
		<link rel="icon" type="image/vnd.microsoft.icon" href="http://www.mcdonalds.co.uk/static/icon/yellow-logo.ico" />
    	<link rel="shorcut icon" href="http://www.mcdonalds.co.uk/static/icon/yellow-logo.ico" />
		<link rel="stylesheet" media="only screen and (max-device-width: 1024px) and (orientation:portrait)" href="css/portrait.css" />
		<link rel="stylesheet" media="only screen and (max-device-width: 1024px) and (orientation:landscape)" href="css/landscape.css" />
    </head>
    <body>	
		<div id="shell">
			<div id="content">
				<header>
					<h1>{{ common.header }}</h1>
				</header>
				
				{% for object in content %}
				<article id="{{ object.id }}" data-tags="{{ object.article_tags }}">
					<a name="{{ object.section }}"></a>
					<header>
						<h2>{{ object.header }}</h2>
					</header>
					<section id="{{ object.section_id }}">
						{% comment %}
							Only write out the Paragraph if we have it available
						{% endcomment %}
						{% if object.section_statement1 %}
						<p>
						{{ object.section_statement1 }}	
						</p>
						{% endif %}
						{% if object.section_statement2 %}
						<p>
						{{ object.section_statement2 }}	
						</p>
						{% endif %}
						{% if object.section_statement3 %}
						<p>
						{{ object.section_statement3 }}	
						</p>
						{% endif %}
						{% comment %}
							Only write out the image if we have it available
						{% endcomment %}
						{% if object.section_img %}
						<img src="img/{{ object.id }}/main.jpg" alt="{{ object.section_img_alt }}" />
						{% endif %}
					</section>
				</article>		
				{% endfor %}
			</div>
			<div id="navigation">
				<nav>
					<ul id="categories">
						<li><img src="img/nav-logo.png" width="52" height="50" alt="{{ common.mcdonalds }}" /></li>
						{% for object in categories.items %}
							<li><a class="{% ifequal object.0 filter %}active{% else %}inactive{% endifequal %}" id="nav-category-{{object.0}}" data-category="{{object.0}}" href="{{object.0}}">{{object.1|upper}}</a></li>							
						{% endfor %}
					</ul>
					<ul id="alphabet">
						{% for object in content %}
						<li><a class="active" id="nav-alpha-{{ object.id }}" data-category="{{ object.id }}" href="#{{ object.id }}">{{ object.menu }}</a></li>
						{% endfor %}
					</ul>
				</nav>
			</div>
			
			<footer>
				{{ common.footer }}
			</footer>

		</div>
		<script type="text/javascript" src="js/scripts.js?v=0.0.1"></script>
		<script type="text/javascript">
		//<![CDTA[
			window.addEventListener("load", function() {
				RIA.UI.init();
				RIA.AZCampaign.init({
					categories:{ 
						{% for object in categories.items %}{{object.0}}:[]{% if not forloop.last %},{% endif %}{% endfor %}
					},
					filter:"{{ filter }}"});
				
			},false);
		//]]>
		</script>
    </body>
</html>