<!DOCTYPE html>	
<html lang="en-gb" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{{ common.pagetitle }}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/styles.css?v={{timestamp}}"/>
		<link rel="icon" type="image/vnd.microsoft.icon" href="http://www.mcdonalds.co.uk/static/icon/yellow-logo.ico" />
    	<link rel="shorcut icon" href="http://www.mcdonalds.co.uk/static/icon/yellow-logo.ico" />
		<link rel="stylesheet" media="only screen and (max-device-width: 1024px) and (orientation:portrait)" href="css/portrait.css" />
		<link rel="stylesheet" media="only screen and (max-device-width: 1024px) and (orientation:landscape)" href="css/landscape.css" />
    </head>
    <body>	
		<div id="shell">
			<div id="content">
				<header>
					<h1>{{ common.header }}</h1>
				</header>
				
				{% for article in content %}
				<article id="{{ article.id }}" data-tags="{{ article.article_tags }}" class="{% if category %}{% ifequal article.article_tags category %}active{% else %}inactive{% endifequal %}{% else %}active{% endif %}">
					<a name="{{ article.id }}"></a>
					<header>
						<h2>{{ article.header }}</h2>						
					</header>
					
					<section id="{{ article.section_id }}" class="{{ article.section_layout }}">
						{% if article.section_statement1 %}
						<p>
						{{ article.section_statement1 }}	
						</p>
						{% endif %}
						
						{% if article.section_img %}
						<div class="content-image" style="width:344px; height:237px;">
							<img class="" data-loading-class="loading" data-loading-src="img/spinner.gif" data-loading-width="14" data-loading-height="14" width="344" height="237" src="img/{{ article.id }}/main.jpg" src="img/spinner.gif" alt="{{ article.section_img_alt }}" />
						</div>
						{% endif %}
						
						{% if article.section_statement2 %}
						<p>
						{{ article.section_statement2 }}	
						</p>
						{% endif %}
						{% if article.section_statement3 %}
						<p>
						{{ article.section_statement3 }}	
						</p>
						{% endif %}							
					</section>		
					<nav>
						{% for cat in categories.items %}
							{% ifequal cat.0 article.article_tags %}
							<a class="active {{cat.0}}" id="content-category-{{cat.0}}" data-category="{{cat.0}}" href="{{cat.0}}">{{cat.1|upper}}</a>
							{% endifequal %}							
						{% endfor %}
						<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fa-z-campaign.appspot.com/{{ article.id }}&amp;title={{ article.header }}layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;font&amp;colorscheme=light&amp;height=80&amp;ref=a-to-z-mcdonalds-{{ article.id }}" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
					</nav>			
				</article>		
				{% endfor %}
			</div>
			<div id="navigation">
				<nav>
					<ul id="categories">
						<li><img src="img/nav-logo.png" width="52" height="50" alt="{{ common.mcdonalds }}" /></li>
						{% for cat in categories.items %}
							<li><a class="{% ifequal cat.0 category %}active{% else %}inactive{% endifequal %}" id="nav-category-{{cat.0}}" data-category="{{cat.0}}" href="{{cat.0}}">{{cat.1|upper}}</a></li>							
						{% endfor %}
					</ul>
					<ul id="alphabet">
						{% for alpha in content %}
							<li><a class="{% if category %}{% ifequal alpha.article_tags category %}active{% else %}inactive{% endifequal %}{% else %}active{% endif %}" id="nav-alpha-{{ alpha.id }}" data-category="{{ alpha.id }}" href="/#{{ alpha.id }}">{{ alpha.menu }}</a></li>
						{% endfor %}
					</ul>
				</nav>
			</div>
			
			<footer>
				{{ common.footer }}
			</footer>

		</div>
		<script type="text/javascript" src="js/scripts.js?v={{timestamp}}"></script>
		<script type="text/javascript">
		//<![CDTA[
			window.addEvent("domready", function() {
				RIA.UI.init();
				RIA.Campaign = new RIA.AZCampaign({
					categories:{{aToZList}},
					category:"{{ category }}",
					alpha:"{{ alpha }}"
				});				
			});
		//]]>
		</script>
    </body>
</html>