/* ie6 styles  */

#navigation {top:250px;}


/* png fixes for ie6 */

* html img,
* html .png{
    position:relative;
    behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",
        this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
        this.src = "img/clear.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),
        this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",
        this.runtimeStyle.backgroundImage = "none")),this.pngSet=true)
    );
}


footer h3 { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/ie6/footer.png', sizingMethod='scale'); background:none; }  
h1 a { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/ie6/header.png', sizingMethod='scale'); background:none; margin-left:40px; width:850px; }
#navigation {/* filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/ie6/nav.png', sizingMethod='scale'); background:none;*/ margin-top:-140px; margin-left:-80px;}
#youtube-link { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/ie6/vid-button.png', sizingMethod='scale'); background:none; }

/*
.border-left { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/ie6/left-border.png', sizingMethod='scale'); background:none; }
.border-right { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/ie6/right-border.png', sizingMethod='scale'); background:none; }
*/


/* style adjustments for ie 6 */

.border-right{position:absolute; display:block; width:74px; height:10650px; background: url(../img/ie6/right-border.png) repeat-y top left; margin-left:848px;}
.border-left {position:absolute; display:block; width:74px; height:10650px; background: url(../img/ie6/left-border.png) repeat-y top left; margin-left:-69px;}

article p.first {
	padding:0px;
}

article div.container {
	padding:0px;
}  

article div.container .content {
	display:inline-block;
	padding:20px 25px 0px 20px;
}

/* clear fixes - because we can't use overflow:hidden */
.container{clear: both;}
.cf:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
.cf {height:1%;}
.clear {clear:both;}