article {
	overflow:hidden;
	padding:20px;
	border:1px solid #333;
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	margin-bottom:50px;	
	/*
	-webkit-perspective: 2000;
	-webkit-perspective-origin: 50% 50%;
	-webkit-transform-style: preserve-3d;
	*/
}

article p {
	padding:10px;
}

article img.letter {
	/*
	position:absolute;
	left:10000em;
	top:10000em;
	*/
}
article.inactive {
	position:absolute;
	left:-10000em;
	top:-10000em;
}

article a.info {
	background:url(http://www.mcdonalds.co.uk/static/img/icons/i.png) no-repeat top left;
	width:57px;
	height:57px;
	text-indent:-10000em;
}
article a {
	display:block;
}

article div.container {
	position:relative;
	min-height:300px;
}

.js article div.container {
	opacity:0;
}
article section {	
	/*
	-webkit-transition: all 1s;
	-webkit-transform: rotateY(0deg);
	-webkit-backface-visibility:hidden;
	*/
}

/*
*	Questions & Answers Section
*/
article section.qanda {
	background:#fff;
	position:absolute;
	top:0px;
	left:0px;
	display:none;
	/*
	-webkit-transition: -webkit-transform 1s;
	-webkit-transform: rotateY(-180deg);
	-webkit-backface-visibility:hidden;
	*/
}

article section.qanda .qanda-container {
	border:1px solid #333;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
}
article.questions section.content {
	display:none;
	/*
	-webkit-transition: -webkit-transform 1s;
	-webkit-transform: rotateY(180deg);
	*/
}

article.questions section.qanda {
	display:block;
	/*
	-webkit-transition: -webkit-transform 1s;
	-webkit-transform: rotateY(0deg);
*/
}

article section.qanda header {
	-webkit-tap-highlight-color:none;
	padding:5px 20px 0 20px;
	cursor:pointer;
	border-top:1px solid #333;
}
article section.qanda header:first-child {
	border-top:none;
}

article section.qanda .answer p {
	height:auto;
	padding:5px 20px 20px 20px;

}


/*
*	Section content layout
*/

section.layout-two-column {
	overflow:hidden;
}
section.layout-two-column .content-image {
	display:block;
	position:relative;
	float:left;
	margin:20px 20px 20px 0;
	background:#999 url(../img/spinner.gif) no-repeat 48% 48%;
	/*
	-moz-box-shadow: inset 0 0 20px #000;
	-webkit-box-shadow: inset 0 0 40px #000;
	box-shadow: inset 0 0 40px #000;
	*/
}

article nav {
	overflow:hidden;
}
article nav p {
	float:right;
	display:inline-block;
	margin:0 0 0 50px;
	padding:0;
}