article {
	overflow:hidden;
	padding:20px;
	border:1px solid #333;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	margin-bottom:50px;
}

article.inactive {
	position:absolute;
	left:-10000em;
	top:-10000em;
}

article a {
	display:block;
}
/*
*	Section Category Nav
*/
article section .food {
	
}

article section .people {
	
}

article section .community {
	
}

article section .planet {
	
}

article section .london2012 {
	
}

/*
*	Section content layout
*/

section.layout-two-column {
	overflow:hidden;
}
section.layout-two-column .content-image {
	display:block;
	position:relative;
	float:left;
	margin:0 20px 20px 0;
	background:#999 url(../img/spinner.gif) no-repeat 48% 48%;
	
	-moz-box-shadow: inset 0 0 20px #000;
	-webkit-box-shadow: inset 0 0 40px #000;
	box-shadow: inset 0 0 40px #000;
}