article {
	position:relative;
	width:1088px;
	margin:0 0 0 30px;
	
	/*
	*	[ST]TODO: may affect category filter fx
	*/
	overflow:hidden;
	
}

article h2 {
	position:absolute;
	top:-10000em;
	left:-10000em;
}

article header {
	overflow:hidden;
}

article p {
	padding:0 0 18px 0;
}

article p.first {
	font-weight:bold;
}

article.inactive {
	position:absolute;
	top:-10000em;
	left:-10000em;
}

article a.info {
	background:url(../img/i.png) no-repeat top left; /* TODO : move production image to a sprite */
	width:57px;
	height:57px;
	text-indent:-10000em;
}
article a {
	display:block;
}

article div.container {
	width:390px;
	min-height:300px;
	position:relative;
}

article div.layout-left {
	margin-left:100px;
}

article div.layout-right {
	margin-left:600px;
}

.js article div.container {
	opacity:0;
}


article section {

}
/*
*	Questions & Answers Section
*/
article section.qanda {
	display:none;
}

article section.qanda .qanda-container {
	border:1px solid #333;
	-o-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;	
}

article.questions section.content {
	display:none;
}

article.questions section.qanda {
	display:block;
}

article section.qanda header {
	-webkit-tap-highlight-color:none;
	padding:5px 20px 0 20px;
	cursor:pointer;
	border-top:1px solid #333;
}
article section.qanda header span {
	margin:5px 0 0 0;
	display:block;
	float:right;
	background:url(../img/arrow-sprite.gif) no-repeat 0 0;
	width:8px;
	height:7px;
}
article section.qanda header.open span {
	background:url(../img/arrow-sprite.gif) no-repeat -9px 0;
	width:7px;
	height:8px;
}

article section.qanda header:first-child {
	border-top:none;
}

article section.qanda .answer p {
	height:auto;
	padding:5px 20px 20px 20px;

}


/*
*	Section content layout
*/
.content-image {
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	background:#999 url(../img/spinner.gif) no-repeat 48% 48%;
}
.content-image img {
	display:block;
	position:absolute;
	top:0px;
	left:0px;
}
article nav {
	/*
	overflow:hidden;
	*/
	margin:5px 0 0 0;
	clear:right;
}
article nav p {
	/*
	float:right;
	*/
	display:inline-block;
	margin:0 0 0 50px;
	padding:0;
}