body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul,dl{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;}

body {
	font-family:lucida, arial, verdana, helvetica;
	position:relative;
	font-size:0.78em; /*78%;*/ /*0.8em;*/
	line-height:15px;
	color:#000;
	text-align:center;
	background:#275308 url(../img/McD_A-Z_Grass_bg_tile3.jpg) repeat-y top center;
	background-attachment:fixed;
}

a {
	outline:none;
	text-decoration:none;
	color:#339900;
	cursor:pointer;
}
a:hover,
a:focus,
a:active {
	color:#336600;
	text-decoration:underline;
}

article,
header,
section,
nav,
footer,
video {
	display:block;
}

header p {
	height:0;
}

/* header and nav styles */
h1 {
	position:absolute;
	top:0px;
	left:-42px;
	width:891px;
	height:175px; /*112px*/
	background:url(../img/a-z-sprite.png) no-repeat -153px -1px;
}

h1 a {
	display:block;
	position:absolute;
	left:250px;
	top:0px;
	width:400px;
	height:112px;
	cursor:pointer;
	z-index:20;
	text-indent:-10000em;
}
h2#youtube-link a {
    background:url(../img/a-z-sprite.png) no-repeat -190px -695px;/*-665px;*/
    position:absolute;
    top:20px;
    left:702px;
    display:block;
    width:133px;
    height:92px;
	text-indent:-10000em;
	cursor:pointer;
}

h2 {
	margin:0 0 20px 0;
}

h3 {
	margin:0 0 10px 0;
}

#shell {
	margin:0;
	position:relative;
	width:1002px;
	margin:0 auto;
	text-align:left;
}


#content {
	position:relative;
	width:850px;
	/* top padding is nav offset. bottom padding is twmm footer background offset */
	
	padding:135px 0 130px 0;/*135px 0 160px 0;*/
	
    margin-left:73px;
}

/*
*	Hide content inside fb root
*/
#fb-root {
	display:none;
}


.loading {
	/*background:#f6f6f6 url(../img/ajax-loader.gif) no-repeat 48% 48%;*/
}

.-webkit-fade-out {
	-webkit-transition: opacity .2s linear;
	opacity:0;
}

.-webkit-fade-in {
	-webkit-transition: opacity .2s linear;
	opacity:1;
}

/* setting heights for all the letters  */

#a,
#a .content {height:366px}

#b,
#b .content {height:365px}

#c,
#c .content {height:385px}

#d,
#d .content {height:322px}

#e,
#e .content {height:520px}

#f,
#f .content {height:465px}

#g,
#g .content {height:384px}

#h {height:327px;}
#h .content {height:327px}

#i,
#i .content {height:490px}

#j,
#j .content {height:459px}

#k,
#k .content {height:448px}

#l,
#l .content {height:392px}

#m,
#m .content {height:352px}

#n,
#n .content {height:341px}

#o,
#o .content {height:383px}

#p,
#p .content {height:378px}

#q,
#q .content {height:540px;}

#r,
#r .content {height:566px}

#s,
#s .content {height:298px}

#t,
#t .content {height:352px}

#u,
#u .content {height:334px}

#v,
#v .content {height:420px}

#w,
#w .content {height:319px}

#x,
#x .content {height:380px}

#y,
#y .content {height:460px}

#z,
#z .content {height:530px}


/* styles for the left and right borders */
.border-right{
	position:absolute; 
	display:block; 
	width:74px; 
	height:100%; 
	background: url(../img/a-z-sprite.png) repeat-y -91px 0px; 
	top:0px;
	right:10px;
}
.border-left {
	position:absolute; 
	display:block; 
	width:74px; 
	height:100%; 
	background: url(../img/a-z-sprite.png) repeat-y 2px 0px;	
	left:0px;
	top:0px;
}


/* style for the error page */

.error {
	height:120px;
	padding:90px 0px 50px 40px;
	background:#F6F6F6;
	margin-bottom:-50px;
	width:812px;
}

.error p b {
	font-weight:bold;
	font-size:18px;
    padding:0;
}

.error-hdr {
	text-indent:-10000em;
}


