* {padding:0; margin:0; border:none;}
body {
	font-family:lucida, arial, verdana, helvetica;
	position:relative;
	font-size:0.8em;
	color:#000;
	text-align:center;
	background:#fff;
	background: -moz-linear-gradient(top, #5c9821, #28440e);
    background: -webkit-gradient(linear, left top, left bottom, from(#5c9821), to(#28440e));
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#5c9821', EndColorStr='#28440e', GradientType=0);	
}
img {
	border:none;
}
a {
	outline:none;
	text-decoration:none;
	color:blue;
}
a:hover,
a:focus,
a:active {
	text-decoration:none;
}

article,
header,
section,
nav,
footer {
	display:block;
}

h1 {
	position:absolute;
	top:-10000em;
	left:-10000em;
}
h2 {
	margin:0 0 20px 0;
}
h3 {
	margin:0 0 10px 0;
}

#shell {
	background:#fff url(../img/bg-content.gif) repeat top left;
	position:relative;
	width:920px;
	margin:0 auto;
	text-align:left;
	overflow:hidden;
}

ul,dl,ol {
	list-style-type:none;
}

#content {
	width:920px;
	min-height:768px;
	padding:200px 0 0 0; /* [ST]TODO: check whether this top padding is required */
}

.js .js-hide {
	display:none;
}

/*
*	Hide content inside fb root
*/
#fb-root {
	display:none;
}