* {padding:0; margin:0; border:none;}
body {
	font-family:lucida, arial, verdana, helvetica;
	position:relative;
	font-size:0.8em;
	color:#333;
	text-align:center;
	background-color:#fff;	
}
img {
	border:none;
}
a {
	outline:none;
	text-decoration:none;
	color:blue;
}
a:hover,
a:focus,
a:active {
	text-decoration:none;
}

article,
header,
section,
nav,
footer {
	display:block;
}

h1 {
	margin:0 0 30px 0;
}
h2 {
	margin:0 0 20px 0;
}
h3 {
	margin:0 0 10px 0;
}

#shell {
	position:relative;
	width:1024px;
	margin:0 auto;
	text-align:left;
	overflow:hidden;
}

ul,dl,ol {
	list-style-type:none;
}

#content {
	width:900px;
	min-height:768px;
	padding:100px 0 0 120px;
}

.js .js-hide {
	display:none;
}