/*
*	Mask
*/
.mask {
	visibility:hidden;
	width:100%;
	height:100%;
	background:#333;
	position:absolute;
	left:0;
	top:0;
}

#movie {
	display:none;
	position:absolute;
	top:20px;
	left:15%;
	z-index:10;
	text-align:center;
}

#movie-unsupported {
	position:absolute;
	top:0px;
	left:0px;
	text-align:left;
	padding:30px;
}