/*
*	Mask
*/
.mask {
	width:100%;
	height:100%;
	background:#333;
	position:absolute;
	left:0;
	top:0;
}

#movie {
	display:block;
	visibility:hidden;
	position:absolute;
	width:850px;
	height:100px;
	top:50px;
	left:10000em;	
	z-index:25;	
	text-align:center;
}

.js #movie {
	position:fixed;
}

#movie-swf {
	position:absolute;
	top:35px;
	right:30px;
}
#unsupported {
	visibility:hidden; /* [ST] if the youtube player does not initialize, then no event listeners will be added for the overlay - so hide this */
	width:550px;
	text-align:left;
	position:absolute;
	top:50px;
	left:200px;
	border-radius:20px;
	-webkit-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
}

#unsupported p {
	padding:0 0 18px 0;
}


#movie-container {
	display:block;
	background: url(../img/vid-panel.png) no-repeat top left;
	width:703px;
	height:458px;
	z-index:2;
	margin-left:150px;		
}

#close {
	position:absolute;
	right:5px;
	top:6px;
	display:block;
	cursor:pointer;
	width:25px;
	height:25px;
}