/*
*	Mask
*/
.mask {
	width:100%;
	height:100%;
	background:#333;
	position:absolute;
	left:0;
	top:0;
<<<<<<< HEAD
	z-index:10;
=======
>>>>>>> 131220af00337ba72574062165f21a927af340be
}

#movie {
	display:block;
	position:absolute;
	width:850px;
	height:100px;
<<<<<<< HEAD
<<<<<<< HEAD
	top:50px;
	left:10000em;
	z-index:15;
=======
	top:150px;
	left:10000em;	
	z-index:25;	
>>>>>>> 2c230cf895d45b9368e58903ffdddf96b0eb6a49
=======
	top:150px;
	left:10000em;	
	z-index:25;	
>>>>>>> 131220af00337ba72574062165f21a927af340be
	text-align:center;
}

.js #movie {
	position:fixed;
}

#movie-swf {
	position:absolute;
	top:35px;
	right:35px;
}
#unsupported {
	/*visibility:hidden;*/ /* [ST] if the youtube player does not initialize, then no event listeners will be added for the overlay - so hide this */
	width:550px;
	text-align:left;
	position:absolute;
	top:50px;
	left:200px;
}

#movie-container p,
#unsupported p {
	width:550px;
	text-align:left;
	padding:18px 0 0 18px;
}


#movie-container {
	display:block;
	background: url(../img/vid-panel-social.png) no-repeat top left;
	width:703px;
	height:478px;
	z-index:2;
	margin-left:150px;		
}

#close {
	position:absolute;
	right:5px;
	top:6px;
	display:block;
	cursor:pointer;
	width:25px;
	height:25px;
}

#movie .social {
	position:absolute;
	top:428px;
	left:400px;
}