#navigation {
	background:transparent url(../img/bg-navigation.png) repeat top left;
	position:absolute;
	top:71px;
	left:0px;
	width:850px;
	height:102px;
}

.js #navigation {
	position:fixed;
}

/*
*	Alphabet
*/
#navigation #alphabet {
	margin-left:120px;
	padding:20px 0 0 0;
}
#navigation #alphabet a {
	display:block;
	width:22px;
	height:22px;
	background-image:url(../img/sprite-alphabet.png);
	background-repeat:none;
	text-indent:-10000em;
}

#navigation #alphabet li {
	float:left;
	margin:0 10px 0 0;
}


/*
*	Article Nav
*/
article nav ul {
	float:right;
	margin:10px 0 0 0;
	display:block;
}
article nav ul li {
	margin:0 10px 0 0;
	display:block;
	float:left;
}


/*
*	Alphabet Letters (sprite)
*/
#navigation .a {
	background-position:0 0;
}

#navigation .b {
	background-position:-34px 0;
}

#navigation .c {
	background-position:-65px 0;
}

#navigation .d {
	background-position:-98px 0;
}

#navigation .e {
	background-position:-129px 0;
}

#navigation .f {
	background-position:-162px 0;
}

#navigation .g {
	background-position:-194px 0;
}

#navigation .h {
	background-position:-225px 0;
}

#navigation .i {
	background-position:-261px 0;
}

#navigation .j {
	background-position:-285px 0;
}

#navigation .k {
	background-position:-322px 0;
}

#navigation .l {
	background-position:-350px 0;
}

#navigation .m {
	background-position:-376px 0;
}

#navigation .n {
	background-position:-409px 0;
}

#navigation .o {
	background-position:-444px 0;
}

#navigation .p {
	background-position:-474px 0;
}

#navigation .q {
	background-position:-502px 0;
}

#navigation .r {
	background-position:-536px 0;
}

#navigation .s {
	background-position:-570px 0;
}

#navigation .t {
	background-position:-598px 0;
}

#navigation .u {
	background-position:-629px 0;
}

#navigation .v {
	background-position:-659px 0;
}

#navigation .w {
	background-position:-691px 0;
}

#navigation .x {
	background-position:-728px 0;
}

#navigation .y {
	background-position:-762px 0;
}

#navigation .z {
	background-position:-797px 0;
}

/*
*	Apple iOS Navigation Menu Picker
*/

#alphabet-ios {
	background:url(../img/sprite-alphabet.png) no-repeat top left;
	display:none;
	position:absolute;
	top:71px;
	left:50px;
	width:852px;
	height:102px;
	margin-left:35px;
}

#alphabet-ios #alpha-menu {
	width:852px;
	height:40px;
}