#navigation {
	background:url(../img/a-z-sprite.png) repeat-x -189px -192px;/*-189px -124px;*/
	position:absolute;
	top:112px;
	left:0px;
	width:853px;
	height:98px;
	margin:0 0 0 68px;
	-webkit-transition: -webkit-transform .5s ease-in-out;
}

.js #navigation {
	position:fixed;
}

/*
*	Alphabet
*/

#navigation #alphabet {margin-top:10px; margin-left:21px;}

#navigation #alphabet li {
	float:left;
	margin:0 15px 0 0;
}

#navigation #alphabet li a {padding:2px;font-size:1.4em;}
#navigation #alphabet li a:hover {text-decoration:none;}

#navigation #alphabet li.b {margin-right:18px;}
#navigation #alphabet li.c {margin-right:19px;}
#navigation #alphabet li.d {margin-right:19px;}
#navigation #alphabet li.e {margin-right:18px;}
#navigation #alphabet li.f {margin-right:18px;}
#navigation #alphabet li.g {margin-right:16px;}
#navigation #alphabet li.h {margin-right:19px;}
#navigation #alphabet li.i {margin-right:18px;}
#navigation #alphabet li.j {margin-right:21px;}
#navigation #alphabet li.k {margin-right:13px;}
#navigation #alphabet li.l {margin-right:13px;}
#navigation #alphabet li.m {margin-right:20px;}
#navigation #alphabet li.n {margin-right:21px;}
#navigation #alphabet li.o {margin-right:7px;}
#navigation #alphabet li.p {margin-right:16px;}
#navigation #alphabet li.q {margin-right:21px;}
#navigation #alphabet li.r {margin-right:20px;}
#navigation #alphabet li.s {margin-right:15px;}
#navigation #alphabet li.t {margin-right:16px;}
#navigation #alphabet li.u {margin-right:17px;}
#navigation #alphabet li.v {margin-right:20px;}
#navigation #alphabet li.w {margin-right:22px;}
#navigation #alphabet li.x {margin-right:20px;}
#navigation #alphabet li.y {margin-right:19px;}


.scroll {height:82px !important;}